In [7]:
import yfinance as yf
import pandas as pd

tickers = ['SPY', 'AAPL', 'TSLA', 'GLD', 'BTC-USD']
data = yf.download(tickers, start='2015-01-01', end='2024-12-31')
data = data.dropna()
data.head()

[*********************100%***********************]  5 of 5 completed

Price           Close                                                 \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA
Date
2015-01-02  24.288582  315.032013  114.080002  172.075241  14.620667
2015-01-05  23.604334  274.473999  115.800003  168.967621  14.006000
2015-01-06  23.606550  286.188995  117.120003  167.376099  14.085333
2015-01-07  23.937572  294.337006  116.430000  169.461807  14.063333
2015-01-08  24.857311  283.348999  115.940002  172.468918  14.041333

Price            High                                                 ...  \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA  ...
Date                                                                  ...
2015-01-02  24.757336  315.838989  114.800003  173.289821  14.883333  ...
2015-01-05  24.137514  278.341003  116.000000  171.187347  14.433333  ...
2015-01-06  23.866475  287.553009  117.500000  169.805233  14.280000  ...
2015-01-07  24.037543  298.753998  116.879997  169.805240  14.318667  ...
2015-01-08  24.915073  294.135010  116.870003  172.686711  14.253333  ...

Price            Open                                                 \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA
Date
2015-01-02  24.746228  314.079010  112.489998  172.871004  14.858000
2015-01-05  24.057537  265.084015  114.779999  171.019823  14.303333
2015-01-06  23.668754  274.610992  116.220001  169.277519  14.004000
2015-01-07  23.815385  286.076996  116.470001  168.716313  14.223333
2015-01-08  24.266371  294.135010  116.449997  170.885789  14.187333

Price            Volume
Ticker             AAPL   BTC-USD         GLD          SPY        TSLA
Date
2015-01-02  212818400.0   7860650   7109600.0  121465900.0  71466000.0
2015-01-05  257142000.0  43962800   8177400.0  169632600.0  80527500.0
2015-01-06  263188400.0  23245700  11238300.0  209151400.0  93928500.0
2015-01-07  160423600.0  24866800   6434200.0  125346700.0  44526000.0
2015-01-08  237458000.0  19982500   7033700.0  147217800.0  51637500.0

[5 rows x 25 columns]

In [9]:
weekly_data = data.resample('W').last()
weekly_data.head()

Price           Close                                                 \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA
Date
2015-01-04  24.288582  315.032013  114.080002  172.075241  14.620667
2015-01-11  24.883965  290.407990  117.260002  171.086838  13.777333
2015-01-18  23.546574  208.097000  122.519997  168.892258  12.871333
2015-01-25  25.099459  232.878998  124.230003  171.689926  13.419333
2015-02-01  26.028080  226.425003  123.449997  167.066208  13.573333

Price            High                                                 ...  \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA  ...
Date                                                                  ...
2015-01-04  24.757336  315.838989  114.800003  173.289821  14.883333  ...
2015-01-11  25.159440  291.114014  117.339996  172.904503  13.998667  ...
2015-01-18  23.899806  221.591003  123.150002  169.051410  12.966000  ...
2015-01-25  25.270520  234.845001  124.500000  172.636457  13.566667  ...
2015-02-01  26.659009  242.850998  123.550003  169.344575  13.831333  ...

Price            Open                                                 \
Ticker           AAPL     BTC-USD         GLD         SPY       TSLA
Date
2015-01-04  24.746228  314.079010  112.489998  172.871004  14.858000
2015-01-11  25.030588  282.382996  116.510002  172.887747  13.928000
2015-01-18  23.777619  209.070007  121.730003  166.496622  12.713333
2015-01-25  24.948391  233.516998  124.430000  172.376780  13.352667
2015-02-01  26.303556  232.772003  121.300003  168.004367  13.597333

Price            Volume
Ticker             AAPL   BTC-USD         GLD          SPY        TSLA
Date
2015-01-04  212818400.0   7860650   7109600.0  121465900.0  71466000.0
2015-01-11  214798000.0  18718600   7962900.0  158567300.0  70024500.0
2015-01-18  314053200.0  38421000  14428200.0  211879600.0  54048000.0
2015-01-25  185859200.0  24621700   6270900.0  117516800.0  51579000.0
2015-02-01  334982000.0  26605200  14555900.0  197729700.0  45105000.0

[5 rows x 25 columns]